---
image:
  repository: itchimonji/moodle
  tag: "latest"
  pullPolicy: Always

replicaCount: 2
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1

securityContext:
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

serviceAccount:
  create: true
  annotations: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: "nginx"
  hostname: "moodle.example.com"
  clusterIssuer: "letsencrypt-prod"
  tlsSecretName: "moodle-prod-tls"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"

externalDatabase:
  type: pgsql
  host: postgres-primary.database.svc.cluster.local
  port: 5432
  database: moodle
  existingSecret:
    name: "moodle-db-credentials"
    passwordKey: "postgres-password"
    userKey: "postgres-user"

persistence:
  enabled: false
  storageClass: "nfs-client"
  accessMode: ReadWriteMany
  size: 10Gi
  mountPath: /var/www/moodledata

resources:
  requests:
    cpu: "500m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

moodle:
  url: "https://moodle.yourdomain.com"
  redis:
    enabled: false
    host: "redis-sentinel-master.infra-redis.svc.cluster.local"
    port: 6379
  proxy:
    sslProxy: true
    reverseProxy: false

cron:
  schedule: "* * * * *"
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 85

metrics:
  enabled: false
  token: "YOUR_GENERATED_TOKEN_HERE"
  prometheusLabel: "release"
  prometheusValue: "prometheus-stack"


affinity: {}

nodeSelector: {}

tolerations: []
