apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-moodle"
  labels:
    app: moodle
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: moodle
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: moodle
        release: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: moodle
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: MOODLE_DB_HOST
              value: {{ .Values.externalDatabase.host }}
            - name: MOODLE_DB_PORT
              value: "{{ .Values.externalDatabase.port }}"
            - name: MOODLE_DB_NAME
              value: {{ .Values.externalDatabase.database }}
            - name: MOODLE_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.name }}
                  key: {{ .Values.externalDatabase.existingSecret.userKey }}
            - name: MOODLE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.name }}
                  key: {{ .Values.externalDatabase.existingSecret.passwordKey }}
            {{- if .Values.tracing.enabled }}
            # 1. Enable the Extension Logic
            - name: OTEL_PHP_AUTOLOAD_ENABLED
              value: "true"
            - name: OTEL_SERVICE_NAME
              value: {{ .Values.tracing.serviceName | quote }}
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "http/protobuf"

            # 2. Point to your Collector (Jaeger/Tempo/SigNoz)
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ .Values.tracing.exporterEndpoint | quote }}

            # 3. Optional: Propagators (connects Moodle traces to Frontend/Gateway traces)
            - name: OTEL_PROPAGATORS
              value: "baggage,tracecontext"
            {{- end }}
          volumeMounts:
            - name: moodledata
              mountPath: /var/www/moodledata
            - name: config-volume
              mountPath: /var/www/html/config.php
              subPath: config.php
      volumes:
        - name: moodledata
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-moodle-pvc"
        - name: config-volume
          configMap:
            name: "{{ .Release.Name }}-moodle-config"
