apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-moodle"
  labels:
    app: moodle
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: moodle
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: moodle
        release: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: moodle
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: MOODLE_DB_HOST
              value: {{ .Values.externalDatabase.host }}
            - name: MOODLE_DB_PORT
              value: "{{ .Values.externalDatabase.port }}"
            - name: MOODLE_DB_NAME
              value: {{ .Values.externalDatabase.database }}
            - name: MOODLE_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.name }}
                  key: {{ .Values.externalDatabase.existingSecret.userKey }}
            - name: MOODLE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.name }}
                  key: {{ .Values.externalDatabase.existingSecret.passwordKey }}
          volumeMounts:
            - name: moodledata
              mountPath: /var/www/moodledata
            - name: config-volume
              mountPath: /var/www/html/config.php
              subPath: config.php
      volumes:
        - name: moodledata
          persistentVolumeClaim:
            claimName: "{{ .Release.Name }}-moodle-pvc"
        - name: config-volume
          configMap:
            name: "{{ .Release.Name }}-moodle-config"
