apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-moodle-sa
  labels:
    app: moodle
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
  annotations:
    {{- if .Values.serviceAccount.annotations }}
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
    {{- end }}
automountServiceAccountToken: true
